<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="/styles.css" type="text/css">
        <meta charset="utf-8">
        <title>Petition</title>
    </head>
    <body>
        <div class="maincontainer">
        {{#if header}}
           {{>header}}
        {{else}}
           {{>logoutheader}}
        {{/if}}
            {{{body}}}
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/script.js"></script>
    </body>
    <footer>
      <div id="footer-content">
        &copy; 2018 Petition Signers. All rights reserved By XL
      </div>
    </footer>
</html>
