<div class="bodypart">
    <p class="textmain">Welcome to my No Dog Shit petition  website. New user please registrate:)
    </p>
    <img src="/cleanitup.jpg" alt='no dog shit'/>
    <!-- <p class="hometxt">We are here to make it a law that DOGOWNERS should always pick up the DOGSHITS from their own dogs in public area!!!</p> -->
</div>
