<div class="Main">
  <div class="petition">
    <p class='pettxt'>Welcome to our No Dog Shit petition website. Please log in:)</p>
  </div>
  <div class="Formdiv">
    <form class="login" method="post">
      <label>Email: <input type="text" name="email"></label>
      <label>Password: <input type="text" name="password"></label>
      <button type="submit" name="submitbtn">Log In!</button>
    </form>
  </div>
  <div><a href="./registration">New Registration</a></div>
</div>
