
    <div class="main">
        <div class="textmain">
            <p class='pettxt'>Please sign our petition to make it a law that DOGOWNERS should always pick up the DOGSHITS from their own dogs in public area!!!</p>
            <img src="cleanitup.jpg" alt='no dog shit'/>
        </div>
        <div class="message">
            {{>ErrorMsg}}
        </div>
        <div class="formdiv">
            <form class="userdetails" method="post">
                <input id="sign" type="hidden" name="sign">
                <label for="signcanvas">Please Sign here:</label><canvas name="signcanvas" id="signcanvas"></canvas>
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button type="submit" name="submitbtn" class="button">Submit</button>
            </form>
        </div>
    </div>
    <script src="script.js"></script>
