<div class="main">
    <div class="textdiv">
      <p class='pettxt'>Thank you for signing my petition!</p>
    </div>
    <div>
      <img src="{{signature}}" alt="sign">
    </div>
    <div class="textdiv">
      <p class='pettxt'>Now We Can Head Up!</p>
    </div>
    <div class="message">
      <p><a href='/petition/signers'>See all {{numSigners}} Signers</a></p>
      <p><a href='/profile/edit'>Edit your profile</a></p>
      <form class="deletelink" action='/delete' method="post">
        <p><button type="submit" class="deletelink"><span>Delete your Signature</span></button></p>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
      </form>
    </div>
</div>
