<!DOCTYPE html>
<div style="display: flex;
    flex-direction: column;
    align-items: center;">
<h1>Signers</h1>
<ul>
{{#each signers}}
    <li>{{first}}{{last}}</li>
{{/each}}
</ul>
{{count}}
</div>
