<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Petition!</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>
    <div class="Main">
      <div class="textdiv">
        <img src="/cleanitup.jpg" alt='no dog shit'/>
        <p>We demand the government to make it a law that DOGOWNERS should always pick up the DOGSHITS from their own dogs in public area.</p>
      </div>
      <div class="petitioner">
        {{>petitioners}}
      </div>
    </div>
  </body>
</html>
