<p class='pettxt'>Thank you for signing our petition to make it a law that DOGOWNERS should always pick up the DOGSHITS from their own dogs in public area.</p>
<p>Now you can keep your head up:)</p>
<div>
<img id="signature" style="width: 400px; height: 80px;" src="{{ signature }}">
<img src="cleanitup.jpg" alt='no dog shit'/>
    <p style="font-style: italic; font-family: 'Times New Roman'; font-size: 20px;">Your Signature</p>
</div>
<div><a href="./signers">See all {{count}} signatures! </a></div>
