<div class="Main">
  <div class="petition">
    <p class='pettxt'>Email already exist, please registerate again!</p>
  </div>
  <div class="Formdiv">
    <form class="userdetails" method="post">
      <label>First Name: <input type="text" name="first"></label>
      <label>Last Name: <input type="text" name="last"></label>
      <label>Email: <input type="text" name="email"></label>
      <label>Password: <input type="text" name="password"></label>
      <button type="submit" name="submitbtn">Registrate!</button>
    </form>
  </div>
  <div><a href="./login">Log In</a></div>
</div>
